.color{
 color: rgb(177, 147, 147);
 text-align: center;
}
.paragrafo{
    text-align: center;
}

.contenitore-schede {
    display: flex;
    flex-wrap: wrap;
  }
  .scheda {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  