.color{
 color: rgb(177, 147, 147);
 text-align: center;
}
.paragrafo{
    text-align: center;
}
.div1
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 400px;
        min-width: 200px;
 
      }
      
      
